package ${packageName}.pojo.${moduleName}.request;


import lombok.Data;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.*;
import sg.ncs.csu.base.BasePageRequest;

import java.util.Date;

#foreach ($import in $importList)
import ${import};
#end


/**
 * ${functionName}业务对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ApiModel(description="${functionName}分页请求对象")
public class ${ClassName}PageRequest extends BasePageRequest  {

    @ApiModelProperty("关键字")
    private String keywords;
}
