package ${packageName}.pojo.${moduleName}.request;


import lombok.Data;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.*;

import java.util.Date;

#foreach ($import in $importList)
import ${import};
#end


/**
 * ${functionName}业务对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */

@Data
@ApiModel(description="${functionName}请求对象")
public class ${ClassName}Request  {

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
    @ApiModelProperty(value = "$column.columnComment")
    private $column.javaType $column.javaField;

#end
}
